<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container" align="center">
  <div class="jumbotron">
    <h1>Banana For Scale</h1>
    <h4>Data Science project using Transfer Learning CNNs and Object Detection</h4>
    <br>
    <h2>Goal: Predict a person's height based on a banana</h2>
  </div>
  <form action="/upload", method="GET">
    <h5>Help me by contibuting to the data!</h5>
    <button type="submit" class="btn btn-primary">Upload Your Image Now</button>
  </form>
  <br>
  <br>
  <br>
  <form action="/predict_height", method="GET">
    <button type="submit" class="btn btn-success btn-lg"><b>Predict Your Height!</b></button>
  </form>
  <br>
  <br>
  <p> Prediction with Xception:</p>
  <form action="/xception_class", method="GET">
    <button type="submit" class="btn">Classification</button>
  </form>
  <form action="/xception_reg", method="GET">
    <button type="submit" class="btn">Regression</button>
  </form>
</div>
<br>
<br>
<br>
<div class="container" align="center">
    <form action="https://linkedin.com/in/julia-chapman", method="GET">
      <button type="submit" class="btn btn-default">My Linkedin</button>
    </form>
    <form action="https://github.com/jchapman3773/Capstone-2", method="GET">
      <button type="submit" class="btn btn-default">Project Github: Part 1</button>
    </form>
    <form action="https://github.com/jchapman3773/Capstone-3", method="GET">
      <button type="submit" class="btn btn-default">Project Github: Part 2</button>
    </form>
    <form action="/form", method="GET">
      <br>
      <br>
      <p>Tell me what you think of my app!</p>
      <button type="submit" class="btn btn-default">Submit Questions or Comments</button>
    </form>
</div>

</body>
