<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <div class="jumbotron" align=center>
      <h1>Upload Your Image and Height</h1>
      <h2 style="color:Tomato;">BANANA REQUIRED</h2>
      <h3>The more data the better so ask you friends to join in on the fun!</h3>
      <h3>You can also upload pictures of yourself from different days, settings, and with different outfits!</h3>
      <p>(No images will be made public without the owners express permission)</p>
  </div>
  <div class="container" align='center'>
      <img src="/static/d24aeeb50b714f98a5546554aec4e0e1_72.0.jpg" class="img-responsive" width='300'>
  </div>
  <form method=POST enctype=multipart/form-data>
    <h4>Image Criteria:</h4>
    <p> - banana should be clearly visible</p>
    <p> - person should be standing</p>
    <div class="form-group">
      <input type="file" class="form-control" placeholder="Select Image" name="file">
    </div>

    <h3>Person's Height:</h3>
    <div class="form-group">
      <label for="Feet">Feet:</label>
      <input type="Feet" class="form-control" placeholder="Enter feet" name="Feet">
    </div>
    <div class="form-group">
      <label for="Inches">Inches:</label>
      <input type="Inches" class="form-control" placeholder="Enter inches" name="Inches">
    </div>

    <button type="submit" class="btn btn-primary" value=Upload>Submit</button>
  </form>
</div>

</body>
</html>
