<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <div class="jumbotron">
      <h1 align=center>Upload Your Image and Height</h1>
  </div>
  <div class="container" align='center'>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Young_man_observing_a_banana.jpg" class="img-responsive" width='200'>
  </div>
  <form method=POST enctype=multipart/form-data>
    <h4>Image Criteria:</h4>
    <p> - banana should be clearly visible</p>
    <p> - person should be standing</p>
    <p> - background should be not too busy</p>
    <!-- <i>(Mobile users don't have to take a photo prior. "Choose File" will provide an option for an instant photo)</i> -->
    <div class="form-group">
      <input type="file" class="form-control" placeholder="Select Image" name="file">
    </div>
    <h3>Height:</h3>

    <!-- <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Feet
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">0</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Inches
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">00</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">01</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">02</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">03</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">04</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">05</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">06</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">07</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">08</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">09</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11</a></li>
      </ul>
    </div> -->

    <div class="form-group">
      <label for="Feet">Feet:</label>
      <input type="Feet" class="form-control" placeholder="Enter feet" name="Feet">
    </div>
    <div class="form-group">
      <label for="Inches">Inches:</label>
      <input type="Inches" class="form-control" placeholder="Enter inches" name="Inches">
    </div>

    <button type="submit" class="btn btn-primary" value=Upload>Submit</button>
  </form>
</div>

</body>
</html>
